<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="dashboard.html">Dashboard</a>
    <a href="addStudent.html">Add Student</a>
    <a href="viewStudent.html">View Student</a>
    <a href="logout.html">logout</a>
    <h1>Add Student Page</h1>

    <form action="viewStudent.html">
        Name : <input type="text" required><br><br>
        Roll Number : <input type="text"><br><br>
        CGPA : <input type="number" required><br><br>
        Branch : <input type="text" required><br><br>
        <button type="submit">Add Student</button>
    </form><br><hr><br>

    
    
    
</body>
</html>