<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <nav>
        <a href="dashboard.html">Dashboard</a>
        <a href="addStudent.html">Add Student</a>
        <a href="viewStudent.html">View Student</a>
        <a href="logout.html">logout</a>
    </nav>
    <h1>Add Student Page</h1>

    <form action="viewStudent.html">
        <label for="name">Name : </label>
        <input type="text" required><br><br>
        <label for="roll">Roll Number : </label>
        <input type="text"><br><br>
        <label for="cgpa">CGPA : </label>
        <input type="number" required><br><br>
        <label for="Branch">Branch : </label>
        <input type="text" required><br><br>
        <button type="submit">Add Student</button>
    </form><br><hr><br>

    
    
    
</body>
</html>