<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <nav>
        <a href="index.html">Home</a>
        <a href="login.html">Login</a>
        <a href="register.html">Register</a>
    </nav><br><br>
    <h1 style="margin: 5px;">Register Page</h1>

    <form action="login.html">
        <label for="name">Username : </label>
        <input type="text" required><br><br>
        <label for="email">Email : </label>
        <input type="email"><br><br>
        <label for="password">Password : </label>
        <input type="password" required><br><br>
        <label for="password">Confirm Password : </label>
        <input type="password" required><br><br>
        <button type="submit">Register</button>
    </form><br><br><br><hr><br>

    Alread have an account? <a href="login.html">Login</a>
    
    
</body>
</html>