<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <nav>
        <a href="dashboard.html">Dashboard</a>
        <a href="addStudent.html">Add Student</a>
        <a href="viewStudent.html">View Student</a>
        <a href="logout.html">logout</a>
    </nav>
    <h1>All Students</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Roll Numer</th>
            <th>Actions</th>
        </tr>
        <tr>
            <td>Shanmukha</td>
            <td>6646</td>
            <td>
                <a href="updateStudent.html">edit</a>
                <a href="#">delete</a>
            </td>
        </tr>
        <tr>
            <td>Srinija</td>
            <td>6653</td>
            <td>
                <a href="updateStudent.html">edit</a>
                <a href="#">delete</a>
            </td>
        </tr>
        <tr>
            <td>Charan</td>
            <td>6644</td>
            <td>
                <a href="updateStudent.html">edit</a>
                <a href="#">delete</a>
            </td>
        </tr>
        <tr>
            <td>Prashant</td>
            <td>6633</td>
            <td>
                <a href="updateStudent.html">edit</a>
                <a href="#">delete</a>
            </td>
        </tr>
    </table>  
</body>
</html>